html {
    color: #333;
    background: #fff;
    font-family: $font-family;
    font-weight: 300;
    @include responsive("font-size", 100%,
      (
        s: 110%,
        m: 120%,
        l: 140%,
        xl: 160%
      )
    );
    // -webkit-font-smoothing: antialiased;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
    line-height: $leading;
    margin-top: 0;
    margin-bottom: $leading;
}

ul,
ol {
    padding-left: $leading;
    margin-top: 0;
    margin-bottom: $leading;
    li {
        line-height: $leading;
    }
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}
blockquote {
    line-height: $leading;
    margin-top: $leading;
    margin-bottom: $leading;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #555;
    font-family: $font-headings;
    margin-top: 0;
    margin-bottom: $leading;
    line-height: $leading;
}
h1 {
    @include responsive("line-height", 2 * $leading,
      (
        l: 3 * $leading
      )
    );
    @include responsive("font-size", ms(3) * 1.2,
      (
         m: ms(4),
        l: ms(4) * 1.25
      )
    );
}
h2 {
    color: $heading-alt-color;
    font-weight: 400;
    line-height: 2 * $leading;
    @include responsive("font-size", ms(2) * 1.33,
      (
         m: ms(3),
        l: ms(3) * 1.15
      )
    );
}
* + h2 {
  margin-top: 2 * $leading;
}
h3 {
    font-weight: 300;
    @include responsive("line-height", 1 * $leading,
      (
        m: 2 * $leading
      )
    );
    @include responsive("font-size", ms(1) * 1.2,
      (
         m: ms(2) * 1.15,
        l: ms(3)
      )
    );
}
h4 {
    font-weight: 400;
    @include responsive("font-size", ms(1),
      (
         m: ms(1) * 1.23,
        l: ms(2)
      )
    );
}
h5 {
    @include responsive("font-size", ms(0) * 1.2,
      (
         m: ms(1) * 1.1,
        l: ms(1)
      )
    );
}
h6 {
    font-size: ms(0) * 1.1;
}

table {
    margin-top: $leading;
    border-spacing: 0px;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
    line-height: $baseLineHeight * $baseFontSize - 0px;
}

hr {
  position: relative;
  height: ms(0);
  margin: $leading 0;
  border: none;

  &:after {
    @extend %seam-full;
  }
}

pre {
  margin: $leading 0;
  @include responsive("border-radius", 0,
    (
      s: 2px
    )
  );
}

code {
  background-color: #f1f1f1;
  font-size: ms(-1);
  padding: (ms(0) * .2) (ms(0) * .3);
  border-radius: 3px;
}

small {
  color: #777;
  font-size: 85%;
  font-weight: normal;
}

strong {
  font-weight: normal;
}