body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.l-main {
  flex: 1;
  position: relative;
  padding-bottom: $leading * 2;

  &:before {
    @extend %seam;
  }
}

.l-container {
  margin: 0 auto;
  @extend %clearfix;

  @include responsive("max-width", 820px,
    (
      xl: 960px
    )
  );
  @include responsive("padding", 0 ms(0),
    (
      xs: 0 ms(0) * 2,
      s: 0 ms(0) * 4,
      m: 0 ms(0) * 7,
      l: 0 ms(0) * 9
    )
  );

  &.fluid {
    @include responsive("max-width", 1280px,
      (
        xl: 1560px
      )
    );

    @include responsive("padding", 0 ms(0),
      (
        s: 0 ms(0) * 2
      )
    );
  }
}

.l-header {

}

.l-footer {
  margin: $leading * 2 0 $leading;
  text-align: center;
  font-size: 85%;
}


.leading {
  font-size: ms(0) * 1.1;
}

.collapse {
    margin-top: 0;
    margin-bottom: 0;
}

.lh1 {
  line-height: $leading;
}

.lh2 {
  line-height: $leading * 2;
}


.content img {
  height: auto;
  width: 100%;
  display: block;
}

.content .stretch {
  margin-top: $leading;
  margin-bottom: $leading;
  @include responsive("margin-left", -(ms(0)),
    (
      xs: -(ms(0)) * 2
    )
  );
  @include responsive("margin-right", -(ms(0)),
    (
      xs: -(ms(0)) * 2
    )
  );
}

.nav {
  padding: 0;
  float: right;
  margin: $leading 0;
  @extend %clearfix;

  & > li {
    display: block;
    float: left;

    & > a {
      color: #666;
      display: block;
      line-height: $leading * 2;
      padding: 0 (ms(0) * .8);
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      -o-transition: background-color 0.2s ease-out;
      -ms-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out;
      text-shadow: 1px 1px 0 white;
    }
  }

  @include responsive("font-size", ms(-1),
    (
      s: ms(0)
    )
  );
}

.brand {
  background: transparent url(/images/ewh.svg) no-repeat center center;
  display: block;
  height: $leading * 4;
  width: $leading * 3;
  background-size: $leading * 3 *.98;
  float: left;
  margin: 0 ($leading * .5) 0 0;
  opacity: .75;
}

.brand-tag {
  color: #333;
  display: block;
  float: left;
  margin: $leading 0;
  text-decoration: none;
  font-weight: 200;
  text-shadow: 0px 1px 0 white;
  font-size: ms(0) * 1.33;
  line-height: $leading;

  span {
    color: #c9c9c9;
    font-size: ms(0);
    display: block;
    font-weight: 400;
    // text-shadow: 0 1px 0px #888;
  }

  &:hover {
    color: #333;
  }

  @include max-screen(680px) {
    display: none;
    float: none;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px 0 white;
    font-size: ms(3);
    line-height: $leading * 2;

    span {
      color: #a8a8a8;
      font-size: ms(2);
      line-height: $leading;
      text-shadow: none;
    }
  }
}

.brand, .brand-tag {
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition:  opacity 0.2s ease-out;
  -o-transition:  opacity 0.2s ease-out;
  -ms-transition:  opacity 0.2s ease-out;
  transition:  opacity 0.2s ease-out;

  &:hover {
    opacity: .75;
    text-decoration: none;
  }
}

.section-title {
  margin: 0 0 ($leading * 2);
}

.collection {

  .content {
    position: relative;
    margin-bottom: $leading * 2;
  }

  h4 a {
    color: $heading-alt-color;
    &:hover, &:focus {
      color: #333;
    }
  }

  a {
    .content-title {
      color: $heading-alt-color;
      margin-top: 0;
    }

    &:hover, &:focus {
      .content-title {
        color: $heading-alt-color;
        margin-top: 0;
      }
    }
  }

  a:hover .content-title, a:focus .content-title {
    color: #333;
  }

  .content-date {
    color: #999;
    font-weight: 600;
    font-size: ms(-1);
  }

  .content-summary {
    color: #666;
  }

  a:first-of-type:hover {
    text-decoration: none;
  }
}

.hero {
  position: relative;
  text-align: center;
  @include responsive("padding", ($leading * 2) 0,
    (
      m: ($leading * 3) 0
    )
  );
  @include responsive("margin-bottom", $leading * 2,
    (
      m: $leading * 3
    )
  );

  p:last-child {
    margin-bottom: 0;
  }

  a {
    color: $btn-color;
  }

  .content-meta {
    color: #777;
    font-weight: 400;
  }

  .content-meta.small {
    font-weight: 300;
  }

  &:after {
    @extend %seam;
  }
}

img.avatar {
  border-radius: 100%;
  display: inline-block;
  width: 4rem;

  .hero & {
    width: 6rem;
  }
}

.btn, a.btn {
  color: #fff;
  border: 1px solid $btn-color;
  padding: (ms(0) / 2) ms(0);
  display: inline-block;
  border-radius: 2px;
  font-size: ms(0);
  background-color: $btn-color;

  &:hover {
    text-decoration: none;
    background-color: transparent;
    color: $btn-color;
  }

  &.disabled {
    color: #fff;
    border-color: #ccc;
    background-color: #ccc;

    &:hover {
      color: #fff;
      border-color: #ccc;
      background-color: #ccc;
    }
  }

  &.outline {
    color: $btn-color;
    background-color: transparent;

    &:hover {
      text-decoration: none;
      background-color: $btn-color;
      color: #fff;
    }

    &.disabled {
      color: #ccc;
      border-color: #ccc;
      background-color: transparent;

      &:hover {
        color: #ccc;
        border-color: #ccc;
        background-color: transparent;
      }
    }
  }
}

.pagination {
  @extend %clearfix;

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .disabled {
    color: #999;
  }
}

.comments {
  position: relative;
  margin-top: $leading * 3;
}

.twitter {
  height: 2rem;
  line-height: 2rem;
}

.twitter-share-button {
  visibility: hidden;
}