{% extends './default.html' %}

{% block title %}Eddy Hernandez | blog pg. {{pagination.num}}{% endblock %}

{% block hero %}
<header class="hero content {{ classModifier -}}">
  <div class="l-container fluid">
    <h1>Blog</h1>
    {% if pagination.next || pagination.previous %}<p>Page {{pagination.num}}</p>{% endif %}
  </div>
</header>
{% endblock %}


{% block content %}
<div class="collection">
  {% for post in pagination.files %}
    <div class="content">
      <a href="{{baseUrl}}/{{post.path}}">
        <p class="content-date collapse">{{ post.date | date('M j, Y') }}</p>
        <h4 class="content-title">{{post.title}}</h4>
        <p class="content-summary">
          {{post.excerpt | safe}}
        </p>
      </a>
    </div>
  {% endfor %}
</div>
{% if pagination.next || pagination.previous %}
<div class="pagination clearfix">
  <div class="left">
    {% if pagination.previous %}
    <a class="btn outline" href="{{ baseUrl }}/{{pagination.previous.path | replace('/index.html$', '')}}">Newer</a>
    {% else %}
    <span class="btn outline disabled">Newer</span>
    {% endif %}
  </div>
  <div class="right">
    {% if pagination.next %}
    <a class="btn outline" href="{{ baseUrl }}/{{pagination.next.path | replace('/index.html$', '')}}">Older</a>
    {% else %}
    <span class="btn outline disabled">Older</span>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}