<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/ewh.ico">
    <title>{{site.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{baseUrl}}/css/style.css">
    <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="{{ baseUrl }}/rss.xml">
  </head>
  <body>
    <div class="l-main">
      {% include 'partials/header.html' %}
      {% block hero %}{% endblock %}
      <div class="l-container" role="main">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% include 'partials/footer.html' %}
    <script src="/js/scripts.js"></script>
    {%if site.googleAnalytics %}{% include 'partials/analytics.html' %}{% endif %}
    {% block thirdparty %}{% endblock %}
  </body>
</html>