{% extends './default.html' %}

{% block hero %}
<header class="hero content post {{ classModifier -}}">
  <div class="l-container fluid">
    <h1>{{ title }}</h1>
    <p class="collapse">Published on {{ date | date('M j, Y') }}</p>
    <p class="collapse">
      {% for tag in tags %}<a href="{{baseUrl}}/tags/{{tag | replace(' ', '-')}}" title="{{tag}}">{{tag}}</a>{% if !loop.last %}, {% endif %}{% endfor %}
    </p>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="content">
  {{contents | safe}}
</div>
{% if site.comments && site.disqus %}
<div class="comments">
  <div id="disqus_thread"></div>
</div>
{% endif %}
{% endblock %}

{% block comments %}
<script type="text/javascript">
  var disqus_shortname = '{{site.disqus}}';
  var disqus_title = '{{title}}';
  var disqus_url = '{{baseUrl || "http://localhost:8000"}}/{{path}}';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endblock %}
