{% extends './default.html' %}

{% block title %}Eddy Hernandez | {{tag}}{% endblock %}

{% block hero %}
<header class="hero content {{ classModifier || 'foo' -}}">
  <div class="l-container fluid">
    <h1>Tag: <small>{{tag}}</small></h1>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="collection">
  {% for post in pagination.files %}
  <div class="content">
    <a href="{{baseUrl}}/{{post.path}}">
      <p class="content-date collapse">{{ post.date | date('M j, Y') }}</p>
      <h4 class="content-title">{{post.title}}</h4>
      <p class="content-summary">
        {{post.excerpt | safe}}
      </p>
    </a>
  </div>
  {% endfor %}
</div>
{% if pagination.next || pagination.previous %}
<div class="pagination clearfix">
  <div class="left">
    {% if pagination.num == 2 %}
    <a class="btn" href="{{ baseUrl }}/tags/{{tag | replace(' ', '-')}}">Newer</a>
    {% elseif pagination.previous %}
    <a class="btn" href="{{ baseUrl }}/tags/{{tag | replace(' ', '-')}}/{{pagination.previous.pagination.num}}">Newer</a>
    {% else %}
    <span class="btn disabled">Newer</span>
    {% endif %}
  </div>
  <div class="right">
    {% if pagination.next %}
    <a class="btn" href="{{ baseUrl }}/tags/{{tag | replace(' ', '-')}}/{{pagination.next.pagination.num}}">Older</a>
    {% else %}
    <span class="btn disabled">Older</span>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
